<module>
        <rawname>academicoconf</rawname>
        <name>academicoVOIPConf</name>
        <version>1.0.0.0</version>
        <publisher>academico VOIP Conferencia</publisher>
        <license>GPLv3+</license>
        <category>Applications</category>
        <canuninstall>yes</canuninstall>
        <candisable>yes</candisable>
        <description>
                Servicio de reporte de calificaciones.
        </description>
        <menuitems>
                <academicoconf>academicoVOIPConf</academicoconf>
        </menuitems>
        <supported>
                <version>2.11</version>
        </supported>
        <location>release/2.11/ivr-2.11.0.10.tgz</location>
        <md5sum>57d8316dc41fcd3153cefd00a5e3bdd5</md5sum>
</module>